[submodule ".vim/pack/plugins_as_submodules/start/lightline.vim"]
	path = .vim/pack/plugins_as_submodules/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule ".vim/pack/plugins_as_submodules/start/nerdtree"]
	path = .vim/pack/plugins_as_submodules/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/plugins_as_submodules/start/vim-commentary"]
	path = .vim/pack/plugins_as_submodules/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/plugins_as_submodules/start/vim-auto-save"]
	path = .vim/pack/plugins_as_submodules/start/vim-auto-save
	url = https://github.com/907th/vim-auto-save.git
[submodule ".vim/pack/plugins_as_submodules/start/ctrlp.vim"]
	path = .vim/pack/plugins_as_submodules/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/plugins_as_submodules/start/conflict-marker.vim"]
	path = .vim/pack/plugins_as_submodules/start/conflict-marker.vim
	url = https://github.com/rhysd/conflict-marker.vim.git
[submodule ".vim/pack/plugins_as_submodules/start/asyncomplete.vim"]
	path = .vim/pack/plugins_as_submodules/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim.git
[submodule ".vim/pack/plugins_as_submodules/start/vim-lsp"]
	path = .vim/pack/plugins_as_submodules/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule ".vim/pack/plugins_as_submodules/start/ctrlp-lsp"]
	path = .vim/pack/plugins_as_submodules/start/ctrlp-lsp
	url = https://github.com/mattn/ctrlp-lsp.git
[submodule ".vim/pack/plugins_as_submodules/start/asyncomplete-lsp.vim"]
	path = .vim/pack/plugins_as_submodules/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim.git
[submodule ".vim/pack/plugins_as_submodules/start/fzf.vim"]
	path = .vim/pack/plugins_as_submodules/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/pack/plugins_as_submodules/start/fzf"]
	path = .vim/pack/plugins_as_submodules/start/fzf
	url = https://github.com/junegunn/fzf
